/* gaintarabani-colors 
  $dafault-color: #1b9aab;

  $default-dark: #029baf
  $default-med-dark: #53a1ac;
  $default-light-dark: #67a5ad;

  $default-bright: #26def7;
  $default-med-bright: #136772;
  $default-light-bright: #25dff7;

  $default-black: #062326;
  $default-grey: #8b8c8c;
  $default-white: #f5f7f7;

  $Links-font - font-family: 'Playfair Display SC', serif;
  £Paragraph-font -  font-family: 'Josefin Sans', sans-serif;


<link href="https://fonts.googleapis.com/css2?family=Playfair+Display+SC&display=swap" rel="stylesheet">
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC&display=swap');
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&family=Playfair+Display+SC&display=swap" rel="stylesheet">  
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&display=swap');

*/
 

